* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: #222;
}

.parent{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}


.Card{
  background-color: white;
  width: 350px;
  margin: 20px;
  border-radius: 25px;
}


.card-top{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7085F8;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  font-size: 14px;
}

/* pending  */

/* .card-top-pending{
  background-color: rgb(255, 255, 94);
  color: #020526;
} */

.card-content{
  padding: 20px;
  margin: -12px 0px;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-content p{
  color: #9CA0A3;
  font-size: 12px;
  margin-bottom: 5px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content h2{
  color: black;
  font-weight: normal;
  font-size: 20px;
}


.card-content button{
    border: none;
    background-color: #E6F2FE;
    color: #7A8BE6;
    padding: 5px 10px;
    border-radius: 20px;
}

/* pending btn  */

/* .card-content-pending button{
  background-color: #eeff81;
  color:#020526;
} */

.card-bottom{
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom h4{
  font-weight: normal;
  font-size: 20px;
  font-weight: medium;
}

.card-bottom button{
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  background-color: #020526;
  color: white;
}

.card-bottom button:hover{
  background-color: #050e70;
  transition: all ease-in 0.1s ;
  cursor: pointer;
}